body,div,input{
  margin:0 auto;
  padding: 2px 2px 2px 2px;
  text-align: center;
}

.container { 
  display: flex;
  width: fit-content;
  height: auto;
  margin: 0 auto;
}



.home{
  width:fit-content;
  height: fit-content;
  float:none;
}
.s1    {
  width:fit-content;
  height: fit-content;
  float:left;
}
.s2    {
  
  width: fit-content;
  height: fit-content;
  float:right;
}


.td{
  display: flex;
  align-self: start;
}
option{
  background-color: white;
  color: black;
}
